@font-face {
  font-family: 'Alarm Clock';
  font-style: normal;
  font-weight: 400;
  src: url('../AlarmClock.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../Ubuntu.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    background: linear-gradient(168deg, var(--cor1) 0%, var(--cor2) 100%);
    transition: --cor1 3s, --cor2 5s;
    overflow: auto;
}

body {
    min-height: 100vh;
    margin: 0;
}

.enter {
    position: absolute;
    background-color: rgba(240, 240, 240, 0.98);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.timer {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flip-clock-wrapper {
    font: bold 11px "Alarm Clock", sans-serif;
    transform: scale(1.2);
}

.flip-clock-wrapper ul li a div div.inn {
    background-color: #030303;
    color: #ea76cb;
}

.intro {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3em;
}

.text {
    color: white;
    font-family: "Ubuntu";
    font-size: 2rem;
}

.texdev {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.textenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: black;
    user-select: none;
}

.title {
    font-weight: bold;
    font-size: 4em;
}

.timerend {
    display: none;
    font: bold 11px "Alarm Clock", sans-serif;
    font-size: 70px;
    color: #e9d7d7;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ea76cb, 0 0 40px #ea76cb, 0 0 50px #ea76cb, 0 0 60px #ea76cb, 0 0 70px #ea76cb;
}

.mea1 {
    width: 20rem;
    padding-bottom: 20px;
}

.texinfo {
    font-size: 2em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blink {
    animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
    50% {
        visibility: hidden;
    }
}

@property --cor1 {
  syntax: '<color>';
  initial-value: #ea76cb;
  inherits: false;
}

@property --cor2 {
  syntax: '<color>';
  initial-value: #dd7878;
  inherits: false;
}

.rabbit {
    width: 12rem;
}

@media screen and (max-width: 750px) {
    .title {
        align-self: baseline;
        overflow-wrap: anywhere;
        font-size: 3em;
    }

    .intro {
        padding: 0.5em;
    }

    .flip-clock-wrapper {
        max-width: 90%;
        transform: none;
    }
}