@font-face {
  font-family: 'Alarm Clock';
  font-style: normal;
  font-weight: 400;
  src: url('../AlarmClock.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../Ubuntu.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(168deg, var(--cor1) 0%, var(--cor2) 100%);
    transition: --cor1 3s, --cor2 5s;
}

.timer {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flip-clock-label {
    display: none;
}

.flip-clock-wrapper {
    font: bold 11px "Alarm Clock", sans-serif;
}

.flip-clock-wrapper ul li a div div.inn {
    background-color: #030303;
    color: #ea76cb
}

.timerend {
    display: none;
    font: bold 11px "Alarm Clock", sans-serif;
    font-size: 70px;
    color: #e9d7d7;
    text-shadow: 0 1px 2px #000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ea76cb, 0 0 40px #ea76cb, 0 0 50px #ea76cb, 0 0 60px #ea76cb, 0 0 70px #ea76cb;
}

.timerend2 {
    font: bold 11px "Alarm Clock", sans-serif;
    font-size: 70px;
    color: #4c4b4b;
    text-shadow: 0 1px 2px #000;
}

.blink {
    animation: blink-animation 1s steps(1, start) infinite;
}

.hidden {
    display: none !important;
    animation: none;
}

@keyframes blink-animation {
    50% {
        visibility: hidden;
    }
}

@property --cor1 {
  syntax: '<color>';
  initial-value: #ea76cb;
  inherits: false;
}

@property --cor2 {
  syntax: '<color>';
  initial-value: #dd7878;
  inherits: false;
}

.extra1 {
    position: absolute;
    top: 55vh;
}

.text {
    color: white;
    font-family: "Ubuntu";
    font-size: 1.2rem;
}

.extra2 {
    position: absolute;
    top: 63vh;
}

.extra3 {
    position: absolute;
    bottom: 70vh;
}

.rabbit {
    width: 12rem;
}

.text1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 3.5rem;
}

@media only screen and (max-width: 700px)  {
    .text1 {
        font-size: 2rem;
        margin-left: 0;
    }
}